MOUNT
CREATE	FILE1
OPEN	FILE1
WRITE	FILE	file1
SEEK	2000
READ	5	DATA	01234
CLOSE
CREATE	FILE2
OPEN	FILE2
WRITE	FILE	file2
SEEK	2000
READ	4025	FILE	test_file2
SEEK	6005
READ	5	DATA	56789
CLOSE
CREATE	FILE3
OPEN	FILE3
WRITE	FILE	file3
SEEK	2000
READ	10000	FILE	test_file3_1
SEEK	6000
READ	4000	FILE	test_file3_2
CLOSE
UMOUNT
