MOUNT
CREATE	FILE1
OPEN	FILE1
WRITE	FILE	file1
CLOSE
CREATE	FILE2
OPEN	FILE2
WRITE	FILE	file2
SEEK	6000
WRITE	FILE	test_file3_3
SEEK	6000
READ	2000	FILE	test_file3_3
SEEK	8192
WRITE	FILE	file1
SEEK	8192
READ	4096	FILE	file1
CLOSE
CREATE	FILE3
OPEN	FILE3
WRITE	FILE	file3
SEEK	6000
CLOSE
OPEN	FILE3
SEEK	9000
WRITE	FILE	file1
SEEK	9000
READ	4096	FILE	file1
CLOSE
CREATE	FILE4
OPEN	FILE4
WRITE	FILE	test_file3_3
SEEK	0
READ	2000	FILE	test_file3_3
CLOSE
UMOUNT
