MOUNT
OPEN	file1
SEEK	2000
WRITE	DATA	00000
SEEK	2000
READ	5	DATA	00000
CLOSE
OPEN	file2
SEEK	2000
WRITE	FILE	write_file2_test
SEEK	2000
READ	4000	FILE	write_file2_test
CLOSE
OPEN	file3
SEEK	2000
WRITE	FILE	write_file3_test
SEEK	2000
READ	10000	FILE	write_file3_test
CLOSE
UMOUNT
