UNMOUNT
CREATE	FILE_TEST
CREATE	""
MOUNT
CREATE	FILEREPEAT
CREATE	FILEREPEAT
CREATE	FILENAMETHATISTOOLONG
DELETE	FILENOTEXIST
DELETE	""
OPEN	FILENOTEXIST
CLOSE
CREATE	FILE1
OPEN	FILE1
SEEK	2000
UNMOUNT


